<%= turbo_stream_from "stacks" %>

<table id="stacks">
  <thead>
    <tr>
      <th>Status</th>
      <th>Name</th>
      <th>Uuid</th>
      <th>Last run</th>
      <th>Processed</th>
      <th>Failed</th>
    </tr>
  </thead>
  <tbody>
  <% @stacks.each do |stack| %>
    <%= render stack %>
  <% end %>
  </tbody>
</table>

<footer>
  <p>
    Powered by <a href="https://github.com/tschaefer/supervisor">Supervisor</a> 🚀
  </p>
</footer>
